/* static/css/base.css */
h1 {
    color: rgb(245, 181, 52);
    text-align: center;
   }
body {
    background-image: url("../images/back.jpg");
    background-size: cover;
}
h2 {
    color: rgb(245, 181, 52);
    text-align: center;
}
label {
    color: rgb(245, 181, 52);
}
.payer-banner {
    color: rgb(245, 181, 52);
}
.form-control {
    max-width: 481px;
}
