{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
 <h1 style="text-align: left;">О сайте</h1>
 <div class='about'>
Тестовое задание:
Сайт с админ панелью и 2-мя кабинетами на Django.
Сайт может быть не оформлен красиво.
Структура на выбор. Можно взять за основу сайт kwork.ru.
На сайте помимо админки должны быть два кабинета заказчика и исполнителя.
Минимальный набор полей в профилях (имя, контактные данные, опыт). 
БД PostgreSQL
 </div>


{% endblock content %}
